html {
  text-align: center;
  background-color: #d3d3d3;
}
.head {
  font-size: 46px;
  color: #073b4c;
  background-color: #61a5c2;
}
.name {
  margin-bottom: 12px;
}
.sub {
  margin-top: 24px;
}
.head2 {
  margin-bottom: 12px;
}
.delete {
  padding: 12px;
  margin: 50px;
}
.clear {
  padding: 12px;
  margin: 50px;
}
.image {
  height: 40px;
  width: 40px;
}
.button {
  margin-top: 24px;
}
.
